<div class="login-holder">
  <div class="login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="sign-in">Sign In</h2>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field forget-holder">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :class => "forget-label" %>
        </div>
      <% end %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forget-password" %>
      <% end %>
      <div class="actions">
        <%= f.submit "Sign in", :class => "login-btn" %>
      </div>

    <% end %>

    <div class="login-info">
      <h2 class="info-header">Hello, Friend!</h2>
      <p class="info-text">Enter your personal details and start journey with us</p>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), :class => "signup-btn" %><br />
      <% end %>
    </div>
  </div>
</div>
